* {
    box-sizing: border-box;
  }
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image:url("example6.jpg"), url("example2.jpg") ;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
}

.calculator-container {
    max-width: 600px;
    /**margin: 50px auto;**/
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 75%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
}
input:hover {
    background-color: rgba(128, 0, 0, 0.237);
    color: rgb(253, 253, 253);
}
button.cgpa {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 75%;
}

button.cgpa:hover {
    background-color: #110f18;
    color: #fbfbfb;
}

#courses-list {
    background-color: #331b1e82;
    color: #ffffff;
    display: block;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
/* Add this style to your existing style.css file */

button.delete-button {
    background-color: #ff5454;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.delete-button:hover {
    background-color: #e4b8b8;
}
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    margin: 0 auto;
    box-sizing:border-box ;
    padding-top: 50px;
  }
  
  .left {
    width: 25%;
    background-color:#331b1e82;
    color: rgb(250, 246, 246);
    left: 30%;
    padding: 20px 30px;
    height: 650px;
    border-left: 10px solid maroon;
    margin-bottom: 50px;
  }
  
  .right {
    width: 75%;
    background-color:#c6af898f;
    height: 650px;
    overflow-y: scroll;
    border-right: 10px solid maroon;
  }
.row{
        margin: 0 auto;
        position: relative;
        width: 65%;
        left: 5%;
        padding-top: 50px;
        
    }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}
.overflow{
    position: relative;
    background-color: #efe3e39d;
    color: maroon;
    text-align: center;
    padding: .1px .3px;
    font-size: 15px;
}
div#result{
    background-color: #210303;
    color: #f4f4f4;
    padding: 0.5px 0.5px;
    letter-spacing: 0.5em;
}
@media screen and (max-width: 750px ){
    body{
        background: url("example2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .row{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .column {
       width: 75%;
       margin: 20px;
      }

}
